<?php
//"Rename to .env.php and fill in your own student ID and Mercury DB_PASS.
//.env.php is included in .gitignore so you won't upload your password to Github."
$STUDENT_ID = '';
$DB_PASS = '';
$DB_HOST = 'feenix-mariadb.swin.edu.au';
$DB_USER = 's' . $STUDENT_ID;
$DB_NAME = $DB_USER . '_db';